body{
    background-color: brown;
}

#box1{
    width:100%;
    background-color: chartreuse;
    height: 100px;
}

#box2{
    width: 100%;
    height: 100px;
    background-color: cyan;
}

@media (min-width: 600px){
    #box1{
        background-color: darkgray;
    }
    #box2{
        background-color: darkkhaki;
    }
}